@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>System obsługi transakcji giełdowych</h1>
    <p class="lead">
        System zapewniający dostęp do aktualnych notowań giełdowych. Niezależnie od urządzenia na jakim pracujesz masz możliwość
        podglądu, licytacji oraz wystawiania aukcji.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Dowiedz się więcej &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Notowania giełdowe</h2>
        <p>
            Aktualny przegląd notowań giełdowych.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Przejdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transakcje giełdowe</h2>
        <p>Przeprowadź transakcje giełdowe.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Przejdź &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Aukcje</h2>
        <p>Aktualna lista najnowszych aukcji z możliwością wystawienia własnych produktów.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Przejdź &raquo;</a></p>
    </div>
</div>